@font-face {
    font-family: 'heliotema';
    src:url('/fonts/heliotema.eot?-70auee');
    src:url('/fonts/heliotema.eot?#iefix-70auee') format('embedded-opentype'),
        url('/fonts/heliotema.woff?-70auee') format('woff'),
        url('/fonts/heliotema.ttf?-70auee') format('truetype'),
        url('/fonts/heliotema.svg?-70auee#icomoon') format('svg');
}

.icon-heliotema {
    font-family: 'heliotema';
}

.icon-heliotema:before {
    content: "\e600";
}

a {
    color: #6EA932;
}

a:hover, a:focus {
    color: #87D13E;
    text-decoration: none;
}

body {
    background: url('/img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.content-wrapper {
    padding-top: 15px;
    padding-bottom: 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.side-wrapper {
    padding: 0;
}

.list-group {
    margin-bottom: 5px;
}

.navbar {
    margin-bottom: 0;
}

.list-group-item:first-child, .list-group-item:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

@media (min-width: 1200px){
    .side-wrapper {
        padding: 0 10px 0 0;
    }
    
    .navbar {
        margin-bottom: 20px;
    }
    
    .list-group-item:first-child {
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
    }
    
    .list-group-item:last-child {
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
    }
    
    .content-wrapper {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
    
}

.content-wrapper, .list-group-item {
    background: none;
    background-color: rgba(255,255,255,0.8);
}

.footer {
    background: none;
    background-color: rgba(0,0,0,0.5);
}

.brand {
    display: inherit;
    padding: 30px 0 10px 0;
    text-align: left;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-family: 'Poiret One', cursive, sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    /*background-color: #87D13E;*/
}

.logo {
    font-size: 1.5em;
}

.brand a, .brand a:hover{
    text-decoration: none;
    color: #fff;
}

.navbar-inverse {
    background-color: #87D13E;
    border-color: #7ABC38;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #7ABC38;
}

.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
}

.navbar-nav > li > a {
    line-height: normal;
}

.nav > li > a {
    padding: 15px 40px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #a3f36e;
}

.text-muted {
    color: #555;
}

.text-white {
    color: #CCC;
}

.text-primary {
    color: #6EA932;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    width: 100%;
}

.footer {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    color: #777;
    text-align: center;
    border-top: 1px solid #87D13E;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-header {
    margin: 20px 0px 15px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-image: none;
    background-color: #87D13E;
    border-color: #7ABC38;
}

.list-group-item {
    min-height: 80px;
}

a.list-group-item, a.list-group-item .list-group-item-heading {
    color: #777;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #FFFFFF;
}

.side-pic {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
