body {
    background: url('/img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body > .container {
    padding-top: 20px;
    padding-bottom: 30px;
    min-height: 400px;
}

body > .container, .footer, .list-group-item {
    background: none;
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0.5) 0%, #FFFFFF 50%, rgba(255,255,255,0.5) 100%);
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0.5) 0%, #FFFFFF 50%, rgba(255,255,255,0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(255,255,255,0.5) 0%, #FFFFFF 50%, rgba(255,255,255,0.5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255,255,255,0.5)), color-stop(0.5, #FFFFFF), color-stop(1, rgba(255,255,255,0.5)));
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.5) 0%, #FFFFFF 50%, rgba(255,255,255,0.5) 100%);
    background-image: linear-gradient(to right, rgba(255,255,255,0.5) 0%, #FFFFFF 50%, rgba(255,255,255,0.5) 100%);
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-image: none;
    background-color: #A0B9D8;
    border-color: #A0B9D8;
}

.brand {
    display: inherit;
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-family: 'Poiret One', cursive, sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    /*background-color: #87D13E;*/
}

.brand a, .brand a:hover{
    text-decoration: none;
    color: #fff;
}

.navbar-inverse {
    background-color: #444;
    border-color: #222;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #333;
}

.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
}

.navbar-nav > li > a {
    line-height: normal;
}

.nav > li > a {
    padding: 15px 40px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    width: 100%;
}

.footer {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-header {
    margin: 20px 0px 15px;
}

.list-group-item, .list-group-item:first-child, .list-group-item:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    min-height: 80px;
}

.side-pic {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
