<div class="page-header">
    <h2 class="text-muted">Про нас</h2>
</div>
<div class="text-muted">
    <p>
        Сонячна енергетика – вельми перспективний напрям.
    </p>
    <p>
        Але хоча розробки ці ведуться вже давно, є ряд проблем, які довго не вдавалося вирішити.
    </p>
    <p>
        Дві основні – це низька ефективність сонячних панелей та їх висока вартість. Без субсидій, в тому чи іншому вигляді, підприємства, що працюють у цій галузі, поки що не можуть існувати.
    </p>
    <p>
        Але схоже, що ситуація починає змінюватися.
    </p>
</div>
