<div class="page-header">
    <h2 class="text-muted">Статті</h2>
</div>
<p>
    <h3>Сонячний вакуумний колектор: класифікація</h3>
</p>
<p>
    Сонячний вакуумний колектор має значно менші теплові втрати в навколишнє середовище, оскільки вакуум являється ідеальним теплоізолятором.
</p>
<p>
    Трубчаста форма у вигляді колби найбільш оптимальна для створення і утримання вакууму. Саме тому найбільше поширення в побутовому секторі отримали вакуумні трубчасті колектори. Існує кілька типів трубчастих колекторів різних за своїми конструктивними особливостями, внаслідок чого у різних вакуумних колекторів можуть бути різні експлуатаційні характеристики, цільове використання та ефективність.
</p>
<p>
    Найбільш поширені сонячні вакуумні трубчасті колектори можна класифікувати за двома основними конструктивними особливостями скляних трубок і теплового каналу:
    <ul>
        <li>за типом скляної трубки (коаксіальна, пір'яна);</li>
        <li>за типом теплового каналу (теплова трубка &quot;Heat pipe&quot;, прямоточна &quot;Direct flow&quot;);</li>
    </ul>
</p>
<p>
    Розглянемо класифікацію по типу скляної трубки. Існує два основних типи конструкції скляної трубки:
    <ul>
        <li>коаксіальна трубка;</li>
        <li>пір'яна трубка;</li>
    </ul>
</p>
<p>
    Коаксіальна трубка фактично є термосом, що являє собою подвійну скляну колбу, в просторі між трубками викачано повітря (створений вакуум). На стінці внутрішньої трубки нанесено поглинаюче покриття, тому передача тепла відбувається від самої скляної колби.
</p>
<img src="/img/article01-img01.png" class="img-responsive centered" />
<p>
    Пір'яна трубка являє собою одностінну скляну колбу. Вакуум в даній трубці займає увесь її простір. Частина  теплового каналу і абсорбера інтегрована всередині самої колби.
</p>
<img src="/img/article01-img02.png" class="img-responsive centered" />
<p>
    За типом теплового каналу сонячні вакуумні трубчасті колектори можна розділити на два типи:
    <ul>
        <li>тепловий канал типу &quot;Heat pipe&quot;;</li>
        <li>прямоточний тепловий канал &quot;Direct flow&quot;;</li>
    </ul>
</p>
<p>
    Сонячний вакуумний коллектор з трубкою типу &quot;Heat pipe&quot; також відомий під назвою &quot;теплова трубка&quot;, займає більшу частину ринку сонячних колекторів. Принцип роботи теплової трубки оснований на тому, що в закритих трубках з теплопровідного металу (міді або алюмінію) знаходиться рідина, що легко випаровується, перенесення тепла відбувається за рахунок того, що рідина нагріваючись під дією сонячного випромінювання, випаровується на нижній частині трубки, поглинаючи теплоту випаровування і конденсується у верхній частині-конденсаторі а потім знову перетікає вниз і процес повторюється, нагріваючи теплоносій що циркулює в теплообміннику.
</p>
<img src="/img/article01-img03.png" class="img-responsive centered" />
<p>
    Схема роботи теплової трубки у вакуумному сонячному колекторі
</p>
<img src="/img/article01-img04.png" class="img-responsive centered" />
<p>
    Конструктивна особливість сонячного колектора з тепловою трубкою
</p>
<p>
    У вакуумних трубчастих сонячних колекторах з прямоточним каналом, теплоносій безпосередньо протікає і нагрівається в кожній з трубок колектора.
</p>
<img src="/img/article01-img05.png" class="img-responsive centered" />
<p>
    Конструктивна особливість сонячного колектора з прямоточним тепловим каналом
</p>
<p>
    Різні типи теплових каналів можуть поєднуватися з різними типами вакуумних колб.
</p>
<p>
    Розглянемо більш докладно можливі конфігурації сонячних вакуумних колекторів. Вакуумна коаксіальна трубка може поєднуватися з тепловим каналом типу &quot;Heat pipe&quot;. Даний сонячний вакуумний колектор є найбільш поширеним зважаючи на свою дешевизну і простоту заміни пошкоджених трубок.
</p>
<p>
    Вакуумна коаксіальна трубка в поєднанні з тепловим каналом &quot;Heat pipe&quot;.
</p>
<p>
    1-зовнішня скляна колба, 2-високоселективне поглинаюче покриття, 3-алюмінієве оребрення, 4-вакуумний прошарок, 5-тепловий канал з рідиною, 6-внутрішня скляна колба.
</p>
<p>
    Ці колектори мають досить складний процес передачі тепла. Тепло передається кілька разів, від скла до алюмінієвого оребрення потім від алюмінію до самої теплової трубки, далі накопичується в конденсаторі і тільки потім передається теплоносію геліосистеми через теплообмінник. Тому навіть в поєднанні з круглою формою абсорбуючої поверхні ефективність сонячного колектора цього типу невисока. Показники максимального ККД (оптичного КПД &quot;&eta;0&quot;) колектора до 65%.
</p>