<div class="page-header">
    <h2 class="text-muted">Контакти</h2>
</div>
<div class="row">
    <div class="col-xs-7">
        <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAC7XAlJAkwmMxNR4MFHkVDNCd-sG7qGGY&q=Lemkivska,15а,Lviv,Ukraine">
        </iframe>
    </div>
    <div class="col-xs-5">
        <div class="row">
            <div class="col-xs-4"><h5 class="pull-right text-muted"><strong>Телефон:</strong></h5></div>
            <div class="col-xs-8"><h4 class="text-primary"><span class="glyphicon glyphicon-phone-alt"></span> +380977567476</h4></div>
        </div>
        <div class="row">
            <div class="col-xs-4"><h5 class="pull-right text-muted"><strong>і-Мейл:</strong></h5></div>
            <div class="col-xs-8"><h4><a href="mailto:nazarivato@gmail.com"><span class="glyphicon glyphicon-envelope"></span> nazarivato@gmail.com</a></h4></div>
        </div>
        <div class="row">
            <div class="col-xs-4"><h5 class="pull-right text-muted"><strong>Адреса:</strong></h5></div>
            <div class="col-xs-8"><h4 class="text-primary"><span class="glyphicon glyphicon-home"></span> м. Львів, вул. Лемківська 15а</h4></div>
        </div>
    </div>
</div>
