<div class="row">
    <div class="col-md-1"></div>
    <div class="col-lg-10">
        
        <div id="heliotema-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#heliotema-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#heliotema-carousel" data-slide-to="1"></li>
                <li data-target="#heliotema-carousel" data-slide-to="2"></li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/img/carousel-01.jpg" alt="whtever">
                    <div class="carousel-caption">
                        <h3>Обладнання</h3>
                        <p>Якісні соняшні панелі</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/carousel-02.jpg" alt="whatever2">
                    <div class="carousel-caption">
                        <h3>Професіонали</h3>
                        <p>Сервіс найвищої якості</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/carousel-03.jpg" alt="whatever3">
                    <div class="carousel-caption">
                        <h3>Результат</h3>
                        <p>Задоволені клієнти</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-1"></div>
</div>
