<div class="row">
    <div class="col-lg-12">
        <div id="heliotema-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#heliotema-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#heliotema-carousel" data-slide-to="1"></li>
                <li data-target="#heliotema-carousel" data-slide-to="2"></li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/img/carousel-01.jpg" alt="whtever">
                    <div class="carousel-caption">
                        <h3>Обладнання</h3>
                        <p>Якісні сонячні панелі</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/carousel-02.jpg" alt="whatever2">
                    <div class="carousel-caption">
                        <h3>Професіонали</h3>
                        <p>Сервіс найвищої якості</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/carousel-03.jpg" alt="whatever3">
                    <div class="carousel-caption">
                        <h3>Результат</h3>
                        <p>Задоволені клієнти</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-header">
    <h2 class="text-muted">HelioTema - енергія сонця у Вашому домі</h2>
</div>

<div class="text-muted">
    <p>
        У сонячну енергію повірили багато бізнесменів і компаній, в тому числі Уоррен Баффет, Google, Intel та інші.
    </p>
    <p>
        Один зі співзасновників компанії SolarCity – Ілон Маск, засновник виробника електрокарів Tesla Motors та приватної космічної компанії SpaceX, – задає темп розвитку цього бізнесу та підтримує своїх кузенів, які займаються оперативним управлінням SolarCity.
    </p>
    <p>
        А «мегафабрика» акумуляторів Маска, яка готується до запуску, розробляє батареї нового покоління та зробить сонячні панелі ще більш цікавими та доступними для власників нерухомості.
    </p>
</div>
