<div class="list-group">
    <a href="/sunenergy" class="list-group-item" ng-class="{active:side.isSelceted('sunenergy')}">
        <img class="pull-left side-pic" src="/img/sunenergy.png" alt="Сонячна електроенергія">
        <h4 class="list-group-item-heading">Сонячна електроенергія</h4>
        <p class="list-group-item-text">Сонячні панелі</p>
    </a>
    <a href="/sunwarmth" class="list-group-item" ng-class="{active:side.isSelceted('sunwarmth')}">
        <img class="pull-left side-pic" src="/img/sunwormth.png" alt="Сонячне тепло">
        <h4 class="list-group-item-heading">Сонячне тепло</h4>
        <p class="list-group-item-text">Теплові колектори</p>
    </a>
    <a href="/naturewarmth" class="list-group-item" ng-class="{active:side.isSelceted('naturewarmth')}">
        <img class="pull-left side-pic" src="/img/naturewormth.png" alt="Тепло природи">
        <h4 class="list-group-item-heading">Тепло природи</h4>
        <p class="list-group-item-text">Хз...</p>
    </a>
</div>
