<div class="page-header">
    <h2 class="text-muted">Сонячне тепло</h2>
</div>
<p>
    Якщо у Вас є бажання зменшити свою енергозалежність від зовнішніх постачальників енергоресурсів, то один із варіантів вирішення даної ситуації &mdash; це встановлення системи сонячного підігріву гарячого водопостачання.
</p>
<p>
    В більшості випадків проблема гарячого водопостачання вирішується простим і зручним способом &mdash; купівлею електричного бойлера об’ємом 50-150л. Бойлер нагріває воду за рахунок електрики, електротеном потужністю 1,5-2Квт, що в результаті може скласти основну частину затрат на електроенергію в літній період.
</p>
<p>
    Для того, щоб показати ефективність підключення сонячних колекторів до вже існуючої системи гарячого водопостачання, потрібно розглянути це на прикладах:
</p>
<img src="/img/chart-01.png" class="img-responsive centered" />
<p>
    Система сонячного нагріву води включає в себе набір сонячних колекторів, накопичувальний бак непрямого нагріву і сантехнічну обв'язку. Це стандартна система підключення сонячних колекторів. Ця схема добре працює в регіонах, де більше 200 сонячних днів в рік. Проте є регіони де лише 90-120 сонячних днів в рік, і в даної схеми з'являється декілька недоліків, особливо у хмарні дні.
</p>
<p>
    У похмурий день, електричний ТЕН грітиме весь обєм води в накопичувальній ємності, незалежно від потреби в ГВП, і повинен підтримувати температуру ЗАВЖДИ не нижче мінімальної, наприклад +45&deg;C. Але ефективність сонячного колектора дуже залежить від різниці між температурою на вулиці і в баку. Іншими словами при однаковій сонячній активності, і за однаковий час, температура в ємкості підросте на 40&deg;C, якщо початкова температура булла +10&deg;C, і підросте тільки на 28&deg;C, якщо початкова температура в баку була +45&deg;C.
</p>
<p>
    Швидкість охолодження будь-якого бака за ніч, не дивлячись на утеплення, прямо пропорційна температурі в ньому. Наприклад, бойлер ємністю 50л за ніч втратить тепла приблизно в 3 рази менше ніж бойлер їмністю 150л, з тією ж початковою температурою. Отже, дана схема на двох ланках роботи має втрати.
</p>
<p>
    Наступна cхема підключення сонячних колекторів не має даних неділіків.
</p>
<img src="/img/chart-02.png" class="img-responsive centered" />
<p>
    Тут електричний ТЕН знаходиться в окремому бойлері-догрівачу ємністю в 3-4 рази менше, ніж основний накопичувальний бак. Це дозволяє зменшити втрати тепла, і максимально підвищити ефективність системи при використанні сонячних колекторів з прямоюточним тепловим каналом. Дані колектори теоретично можуть працювати з температурою носія від 0 градусів.
</p>
<p>
    Наприклад, за день накопичувальний бак нагрівся до +35&deg;C, а на термостаті бака-догрівача установлена температура +50&deg;C. З водопроводу поступає холодна вода +8&deg;C.
</p>
<p>
    По мірі використання гарячої води з накопичувальної ємності, тепла вода з температурою +35?&deg;C буде витіснятися знизу вверх холодною водою що поступає (+8&deg;C) в бак-догрівач. В баці-догрівачі вода догріється з +35&deg;C до +50&deg;С і споживач, в хмарні дні, отримає гарячої води стільки, скільки необхідно, а сонячний коллектор буде працювати з холодною водою що поступила (+8&deg;C) максимально ефективно.
</p>
<p>
    Якщо ж основний накопичувач нагріється до температури +50&deg;C або вище встановленої в бойлері-догрівачу, то електротен не включиться, і гаряча вода з накопиченої ємності пройде транзитом через бак-догрівач користувачам.
</p>
<p>
    Така схема дозволяє реалізувати максимальну ефективність сонячних колекторів, оскільки вони завжди працюють з мінімально можливою початковою температурою води без участі електропідігріву.
</p>
<p>
    До того ж, дана схема дозволяє зберегти старий бойлер або бойлер опосередкованого нагріву ГВС, що підключений до інших джерел нагрівання. Між такими бойлерами можна влаштувати рецеркуляцію.
</p>
<p>
    Для розрахунку об'єму накопичувальної ємності для гарячого водопостачання можна використовувати приблизну формулу: один сонячний коллектор розміром 2x1 метр або 15-трубний вакуумник на 120л води.
</p>
<p>
    Необхідно зазначити, що вигідніше встановлювати не один сонячний коллектор, а відразу 2, 3 і більше. Оскільки вартість сантехнічної обв'язки системи для одного коллектора і для трьох суттєво не відрізняється.
</p>
